.external-dossier {
  display: inline-block;
}

.external-dossier > .button {
  display: inline-block !important;
  vertical-align: middle !important;
  margin: 0 !important;
  width: 13rem !important;
}

.external-dossier-files-list > .item {
  position: relative;
}

.external-dossier-files-list > .item > .label {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.external-dossier-files-list > .active.item {
  box-shadow: 0 0 0 100rem rgba(20, 100, 200, 0.15) inset !important;
}

.thumbnail-file-name {
  word-wrap: break-word;
  word-break: break-all;
  color: rgba(0, 0, 0, 0.8);
}

.upload-mode-selection {
  border-radius: 0 .28571429rem .28571429rem 0 !important;
  margin: 0 !important;
}

.upload-mode-selection > .menu {
  right: 0 !important;
  left: auto !important;
}

.thumbnail-file-name {
  vertical-align: top !important;
  margin-top: 0.3rem !important;
  font-size: 0.8rem !important;
}
