/target
/filedossier-test/target/
/filedossier-web/target/
/filedossier-api/target/
/filedossier-barcode/target/
/filedossier-components/target/
/filedossier-context-persistence/target/
/filedossier-context/target/
/filedossier-core/target/
/filedossier-ddl/target/
/filedossier-document-merger/target/
/filedossier-document-validation/target/
/filedossier-entities/target/
/filedossier-functions/target/
/filedossier-metadata/target/
/filedossier-mimetype/target/
/filedossier-representation/target/
/filedossier-scripting/target/
/filedossier-store/target/
/filedossier-usecases/target/
/filedossier-utils/target/
/filedossier-core/nbproject/
/filedossier-components/nbproject/
/filedossier-contentnogotiation/target/
/filedossier-filesystems/target/
/filedossier-computervision/target/
